.container {
  width: 90%;
  margin: 0 auto;
}

.ingredients, .drinks {
  text-align: center;
}

.ingredient, .drink {
  cursor: pointer;
  display: inline-block;
  margin: 0.5em;
  padding: 0.7em 1.1em;
  border: 3px solid #6b7381;
  color: #6b7381;
}
