body {
  color: #6b7381;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.ingredients, .drinks {
  text-align: center;
}

.drink-name {
  font-size: 1.5em;
}

.steps {
  font-size: 2em;
  margin: 0.5em;
  padding: 0.7em 1.1em;
  text-align: center;
}

.ingredient, .drink {
  cursor: pointer;
  display: inline-block;
  margin: 0.5em;
  padding: 0.7em 1.1em;
  border: 3px solid #6b7381;
}

.ingredient:hover, .drink:hover, .selected{
  opacity: 0.6;
}

.drink {
  border: 1px solid #6b7381;
  position: relative;
}

.drink:hover .view-recipe {
  display: block;
}

footer {
  position: fix;
  bottom: 0;
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-weight: 100;
}
