<h2>Select your base liqour</h2>
<div>
  <nav class="ingredients">
    <div class="ingredient" ng-repeat="ingredient in ingredients" ng-click="getDrinksWith(ingredient.type)">
      {{ingredient.type}}
    </div>
  </nav>
</div>

<h2>Select your drink</h2>
<div class="drinks">
  <div class="drink grid-item" ng-repeat="drink in drinks" ng-click="showSelectedDrink(drink)">
    <img ng-src="http://assets.absolutdrinks.com/drinks/transparent-background-white/250x300/{{drink.id}}.png" alt="" />
    <div>
      {{drink.name}}
    </div>
  </div>
</div>
