<div class="container">
  <h1 class="title">{{drink.name}}</h1>
  <div class="drink-image">
    <img ng-src="http://assets.absolutdrinks.com/drinks/transparent-background-white/250x300/{{drink.id}}.png" err-src="http://placehold.it/100x100" />
  </div>

  <div class="pure-g">
    <div ng-if="drink.story" class="pure-u-1-1 description">
      {{drink.story}}
    </div>
  </div>

  <div class="pure-g">
    <div class="pure-u-1-3">
      <h2 class="title">Ingredients</h2>
      <div ng-repeat="ingredient in drink.ingredients">
        <p class="center-content">{{ingredient.textPlain}}</p>
      </div>
    </div>

    <div class="pure-u-1-3">
      <h2 class="title">Tools</h2>
      <p class="center-content" ng-repeat="tool in drink.tools">
        <a ng-href="{{adService.getLinkFor(tool.id)}}" target="_blank">{{tool.text}}</a>
      </p>
    </div>

    <div class="pure-u-1-3">
      <h2 class="title">Instructions</h2>
      {{drink.descriptionPlain}}
    </div>
  </div>
</div>
