<div class="steps">Pick your poison</div>
<nav class="ingredients">
  <div class="ingredient" ng-class="{selected: $index == selectedIndex}" ng-repeat="ingredient in ingredients" ng-click="getDrinksWith(ingredient.type, $index)">
    {{ingredient.type}}
  </div>
</nav>

<div class="steps">Shake it up</div>
<div class="drinks">
  <div class="drink grid-item" ng-repeat="drink in drinks" ng-click="showSelectedDrink(drink)">
    <div class="drink-name">
      {{drink.name}}
    </div>
    <img ng-src="http://assets.absolutdrinks.com/drinks/transparent-background-white/250x300/{{drink.id}}.png" err-src="http://placehold.it/100x100" />
  </div>
</div>


